<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TxTy ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EE8514D21E37C6E0007E4055</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE8514E61E37C6E1007E4055</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE8514F11E37C6E1007E4055</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
